.pcs-profile {

    .header,
    .main,
    .right {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    }

    .header {
        margin-top: 10px;
        width: 800px;
        height: 300px;
    }

    .content {
        margin-top: 10px;
    }

    .main {
        .ant-tabs-nav-container {
            padding: 0 20px;
        }
    }
}