@import '~@styles/global.less';

.pcs-article-detail {
  display: flex;
  justify-content: center;

  // 文章样式
  article {
    width: 800px;
    padding: 20px;
    background: #fff;
    border-radius: @border-radius;
    margin-top: 40px;
  }
}