.pcs-app {
    // antd layout override
    .ant-layout-content {
        margin-top: 30px;
    }
    .ant-layout-footer {
        text-align: center;
    }
    .pcs-content {
        min-height: 800px;
        display: flex;
        justify-content: center;
    }
}