.pcs-app {
    // antd layout override
    .ant-layout-header {
        background-color: #fff;
        position: relative;
        .ant-menu-item {
            padding: 0 30px;
        }
        button.ant-btn {
            position: absolute;
            &:first-of-type {
                right: 170px;
                top: 25%;
            }
            &:last-of-type {
                right: 50px;
                top: 25%;
            }
        }
    }
    .ant-layout-content {
        margin-top: 30px;
    }
    .ant-layout-footer {
        text-align: center;
    }
    .pcs-content {
        min-height: 800px;
        display: flex;
        justify-content: center;
    }
}