.psc-counseling-wrapper {
    display: flex;
    flex-direction: row;
}

.psc-counseling-newly-expert {
    width: 300px;
    .apply-button-wrapper {
        text-align: center;
    }
    .apply-button {
        margin-top: 20px;
        width: 200px;
        span {
            letter-spacing: 2px;
        }
    }

    .newly-expert {

    }
}

.psc-counseling {
    margin-left: 20px;
}